<mat-toolbar fxLayout="row">
  <span fxFlex>  Deividev</span>
  <button mat-button *ngFor="let item of menuItems" fxHide.xs color="primary">
      <mat-icon class="mr">{{item.icon}}</mat-icon>
      {{item.label}}
  </button>
  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs color="primary">
      <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #dropMenu="matMenu">
      <ng-container *ngFor="let item of menuItems" >
          <button mat-menu-item >
              <mat-icon class="mr">{{item.icon}}</mat-icon>
              {{item.label}}
          </button>
          <mat-divider></mat-divider>
      </ng-container>
      <button mat-menu-item (click)="changeTheme('dark-theme')" >Dark theme</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="changeTheme('light-theme')">Light theme</button>
  </mat-menu>
</mat-toolbar>
