<mat-toolbar class="mat-elevation-z5" color="second">
  <mat-toolbar-row>
    <mat-icon class="example-icon">code</mat-icon>
    <span class="container center"> Deividev</span>


    <div class="spacer"></div>

    <a mat-button class="btn" color="accent" routerLink="">Projects</a>
    <a mat-button class="btn" color="accent" routerLink="">Education</a>
    <a mat-button class="btn" color="accent" routerLink="">Experience</a>
    <a mat-button class="btn" color="accent" routerLink="">Contact</a>
  </mat-toolbar-row>
</mat-toolbar>
