<section class="cover mat-drawer-container">
  <div class="container" gdRow>
    <mat-card class="card"  [class.mat-elevation-z4]="isActive">
      <mat-card-header>
        <mat-card-title>
          David
        </mat-card-title>
      </mat-card-header>
      <mat-card-subtitle>Full Stack JS developer</mat-card-subtitle>
      <mat-card-content>Angular, Vue</mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent">Dark theme</button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
    <mat-card [class.mat-elevation-z2]="isActive">
      <p>Javacript, Angular, Vue</p>
    </mat-card>
  </div>
  <div class="container">

        <a mat-icon-button>
          <mat-icon class="material-icons mr" color="primary"> <fa-icon [icon]="['fab', 'instagram']"></fa-icon></mat-icon>
        </a>
        <a mat-icon-button>
          <mat-icon class="material-icons mr" color="primary"> <fa-icon [icon]="['fab', 'linkedin']"></fa-icon></mat-icon>
        </a>
        <a mat-icon-button>
          <mat-icon class="material-icons mr" color="primary"><fa-icon [icon]="['fab', 'github']"></fa-icon></mat-icon>
        </a>
  </div>
</section>
