.cover {
  height: 100vh;
  // background-color: #999;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #666;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.mat-card {
  margin: 0 5px;
  padding: 20px;
}
