<section class="cover mat-drawer-container">
  <div class="container" gdRow>
    <mat-card  [class.mat-elevation-z4]="isActive">
      <mat-card-header>
        <mat-card-title>
          David
        </mat-card-title>
      </mat-card-header>
      <mat-card-subtitle>Full Stack JS developer</mat-card-subtitle>
      <mat-card-content>Angular, Vue</mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Dark theme</button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
    <mat-card [class.mat-elevation-z2]="isActive">
      <p>Javacript, Angular, Vue</p>
    </mat-card>
  </div>
  <div class="container">
    <mat-card  [class.mat-elevation-z4]="isActive">
      <mat-card-header>
        <mat-card-title>
          David
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>Redes sociales</mat-card-content>
      <mat-card-actions fxLayout="row">
        <button mat-menu-item >
          <mat-icon class="material-icons" color="primary">facebook</mat-icon>
          Facebook
      </button>
      <button mat-menu-item >
        <mat-icon class="material-icons" color="primary">github</mat-icon>
        Facebook
    </button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </div>
</section>
