.cover {
  height: 100vh;
  padding: 75px 15px;
  // display: flex;
  // justify-content: center;
  // align-items: space-around;
  // border-bottom: 1px solid #666;
}
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  // align-items: center;
  // padding: 10px;
}

.mat-card {
  margin: 0 5px;
  padding: 20px;
}


.mat-icon {
  width: 40px;
  height: 40px;
  font-size: 35px;
}
