.cover {
  height: 250px;
  // background-color: #999;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-card {
  margin: 0 20px;
}
