<div fxLayout fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z4">
    <mat-card-header fxLayout fxLayoutAlign="center end">
      <img class="img-user mat-elevation-z4" width="100px" height="100px" src="./../../../../assets/img/9.png">
    </mat-card-header>
    <mat-card-title>Full stack developer </mat-card-title>
    <mat-card-content>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos enim, corrupti ipsa fuga, consequatur consequuntur neque sed iste ad molestiae facilis. Eos a corrupti doloremque error reiciendis esse cumque quibusdam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, vitae. Autem, ratione sequi natus illo cumque blanditiis eaque beatae eligendi distinctio magnam velit dicta minus modi aperiam iure. Ducimus, harum! <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis neque aspernatur iste et, sed, architecto debitis ad amet dolor mollitia voluptatem nobis tempora, ea voluptatum sit culpa iure distinctio perspiciatis?
      </p>
      <h4>Created with:</h4>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">Github</button>
    </mat-card-actions>
  </mat-card>
</div>

