@import '~@angular/material/theming';

@include mat-core();

// Available color palettes: https://material.io/design/color/
$candy-app-light-primary: mat-palette($mat-orange, 600);
$candy-app-light-accent:  mat-palette($mat-blue, 800);
$candy-app-light-warn:    mat-palette($mat-red, 500);


$candy-app-light-theme: mat-light-theme((
  color: (
    primary: $candy-app-light-primary,
    accent: $candy-app-light-accent,
    warn: $candy-app-light-warn,
    background-color: #fff,
  )
));


$candy-app-dark-primary: mat-palette($mat-green, A200);
$candy-app-dark-accent:  mat-palette($mat-purple, A700);
$candy-app-dark-warn:    mat-palette($mat-red, A400);


$candy-app-dark-theme: mat-dark-theme((
  color: (
    primary: $candy-app-dark-primary,
    accent: $candy-app-dark-accent,
    warn: $candy-app-dark-warn,
    background-color: #666,
  )
));
@include angular-material-theme($candy-app-dark-theme);


.light-theme {
  @include angular-material-theme($candy-app-light-theme);
}

.dark-theme {
  @include angular-material-theme($candy-app-dark-theme);
  .dark-theme .mat-slide-toggle-thumb {
    background-color: #aa00ff;
  }
  .dark-theme .mat-slide-toggle-bar {
    background-color: rgba(170, 0, 255, 0.54);
  }
}

.text-primary {
  font-size: 20px;
  font-weight: 700;
  color: #fb8c00;
  text-transform: uppercase;
}


.text-bold {
  font-weight: bold;
}
