.mat-drawer-container {
  padding: 50px;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button,div .mat-raised-button {
  margin: 2px;
}

.mat-toolbar {
  margin-bottom: 25px;
  border-radius: 4px;
}
