<app-header></app-header>
<section class="mat-drawer-container">


  <mat-toolbar fxLayoutAlign="center center" fxLayout="column" color="accent">
    <span>Works</span>
  </mat-toolbar>
  <div class="content" fxLayout="row wrap" fxLayoutGap="20px grid" >
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let num of [1,2,3,4,5,6,7]">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Project {{num}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../../../assets/img/9.png">
        <mat-card-content>
          <p>
            The create project with Angular...
          </p>
          <h4>Created with:</h4>
          <div fxLayout="row wrap">
            <button mat-raised-button disabled color="basic">Angular</button>
            <button mat-raised-button disabled color="basic">Node.js</button>
            <button mat-raised-button disabled color="basic">Express</button>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Deploy</button>
          <button mat-raised-button color="accent">Github</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>

